.header {
    .message {
        color: bisque
    }

    a {
        color: #fff;
    }

    .imglogo {
        position: absolute;
        left:0px;
        color: #fff;
    }

    nav {
        overflow: hidden;
        top: 0;
        width: 100%;

        ul {
          text-align: center;
          list-style-type: none;
          list-style-type: none;
          margin: 0;
          padding: 15px;

          li {
            display: inline;
            font-family: "Fira Sans", sans-serif;
            font-size: 17px;

            &:first-child {
                a {
                    color: #fff;

                    &:hover { 
                        background-color: inherit;
                        color: black;
                    }
                }
            }

            a {
              color: #f2f2f2;
              text-decoration: none;
              padding: 14px;
              &:hover {
                color: darkred;
              }
            }

          }
        }
      }
}

@media only screen and (max-width: 600px) {
  .header {
    ul, li {
       width: 100%;
      float: left;
    }

    li {
      padding-top: 10px
    }


    .imglogo {
      position: relative;
      top:5px;
      left:0px;
    }

    .message {
      text-align: center;
      width: 100%;
    }

  }
}