.searchbox {
    padding-left: 10px;
    padding-top: 15px;
}

.title {
    color: orange;
    padding: 10px;
    padding-left: 20px;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    .title {
        display: none;
    }
}