.pages {
    padding-left: 10px;
    h2 {
        font-size: 20px;
        padding-top: 20px;

    }
}

.header {
    width: 100%;
}

.title {
    font-weight: 600;
    padding-bottom: 10px;
    font-size: 20px;
    padding-top: 20px;
}

.message {
    padding-bottom: 20px;
}

.explanation {
    padding: 20px 0px 20px;
}

.sideimage {
    width:80%;
}