.pages {
    padding: 10px;

    h2 {
        font-size: 20px;
    }
}

.header {
    width: 100%;
}

.title {
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.message {
    padding-bottom: 20px;
}

.explanation {
    padding: 20px 0px 20px;
}